<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>tutti</string>
	<key>CFBundleGetInfoString</key>
	<string>2.2, (C)2003 Ian Gledhill (C)2020 Cameron Kaiser</string>
	<key>CFBundleName</key>
	<string>Tutti II</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleLongVersionString</key>
	<string>2.2</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
        <key>CFBundleIdentifier</key>
        <string>com.floodgap.tutti2</string>
	<key>CFBundleVersion</key>
	<string>2.2</string>
        <key>CFBundleIconFile</key>
        <string>tutti.icns</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHumanReadableCopyright</key>
	<string>(C)2003 Ian Gledhill (C)2020 Cameron Kaiser</string>
</dict>
</plist>
